* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-image: url("./img/bg-body.png");
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.logo {
  padding: 20px 0;
  text-align: center;
}

.logo img {
  border-radius: 50%;
  width: 140px;
}

.banner img {
  width: 100%;
  margin: 10px 0px;
}

.menu ul {
  text-align: center;
}

li {
  list-style: none;
}

.menu li {
  color: rgb(248, 244, 244);
  text-transform: uppercase;
  font-size: 15px;
  padding: 10px 0;
  margin: 5px;
  background-color: black;
}

.box {
  position: relative;
}

.img-1 {
  width: 100%;
}

.amplia-img {
  position: absolute;
  bottom: 380px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 2em;
}

.tag {
  width: 60px;
  right: 10px;
  position: absolute;
  bottom: auto;
}

h2 {
  padding: 15px 10px;
}

p {
  font-size: 17px;
  text-align: left;
  word-spacing: 2px;
  line-height: 1.5em;
  padding: 10px;
}

button {
  margin: 30px 10px;
  padding: 10px 20px;
  background-color: black;
  color: aliceblue;
  font-size: 16px;
}

.rodape ul {
  color: white;
  text-align: center;
}

.rodape li {
  text-transform: uppercase;
  font-size: 15px;
  padding: 10px 0;
  margin: 5px;
  background-color: rgb(241, 6, 6);
}

/*tablet*/

@media (min-width: 768px) {
  .menu li {
    display: inline-block;
    margin: 5px;
    padding: 15px 35px;
    background-color: black;
  }

  .banner {
    padding: 0 24px;
  }

  .pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .box {
    padding: 10px;
    width: 475px;
  }

  .img-1 {
    width: 100%;
  }

  .amplia-img {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 375px;
    font-size: 14px;
    line-height: 2em;
    word-spacing: 5px;
    width: 455px;
  }

  .tag {
    width: 80px;
    right: 20px;
    bottom: 450px;
    position: absolute;
  }

  p {
    font-size: 18px;
  }

  button {
    margin: 10px;
    background-color: black;
    color: aliceblue;
    font-size: 15px;
  }

  .rodape li {
    font-size: 18px;
  }
}

/* Desktop*/

@media (min-width: 1050px) {
  .logo img {
    width: 180px;
    margin: 15px 0 30px 0;
  }

  .menu li {
    font-size: 15px;
    padding: 15px 50px;
    margin: 10px;
  }

  .banner {
    display: flex;
    justify-content: center;
  }

  .banner img {
    width: 1184px;
    margin-bottom: 30px;
  }

  .pictures {
    margin: 0 60px;
  }

  .box {
    width: 380px;
  }

  .amplia-img {
    bottom: 405px;
    width: 360px;
    font-size: 12px;
    line-height: 1.5em;
    padding: 8px;
  }

  .tag {
    width: 50px;
    right: 20px;
    position: absolute;
    bottom: auto;
  }

  h2 {
    padding: 15px 0px;
  }

  p {
    font-size: 17px;
    text-align: justify;
    line-height: 1.5em;
    padding: 0;
  }

  button {
    margin: 30px 0;
    padding: 10px 15px;
    font-size: 14px;
  }

  .rodape ul {
    background-color: rgb(241, 6, 6);
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    padding: 30px 0 60px 0;
    margin: 0 75px;
  }

  .rodape li {
    border-left: 2px solid #ffffff;
    padding: 0 10px;
    margin: 30px 0 15px 0;
    color: white;
    font-size: 12px;
  }

  .rodape li:first-child {
    border: none;
  }
}
