* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-image: url("./img/bg-body.png");
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  margin: 15px 0 20px 0;
  border-radius: 50%;
  width: 140px;
}

.menu ul {
  text-align: center;
}

.menu li a {
  background-color: rgb(36, 35, 35);
}

.menu li a:hover {
  background-color: black;
}

li a {
  text-decoration: none;
  display: block;
  color: rgb(248, 244, 244);
  text-transform: uppercase;
}

li {
  list-style: none;
}

.banner {
  display: flex;
  justify-content: center;
}

.box {
  position: relative;
}

.img-1 {
  width: 100%;
}

.amplia-img {
  font-size: 12px;
  line-height: 1.5em;
  padding: 8px;
  position: absolute;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
}

h2 {
  padding: 15px 0px;
}

p {
  font-size: 17px;
  text-align: justify;
  line-height: 1.5em;
  padding: 0;
}

a button {
  cursor: pointer;
}

button {
  margin: 30px 0;
  padding: 10px 15px;
  font-size: 14px;
  background-color: black;
  color: aliceblue;
}

.rodape ul {
  color: white;
  text-align: center;
}

.rodape li a {
  border-left: 2px solid #ffffff;
  padding: 0 10px;
  margin: 30px 0 15px 0;
  color: white;
  font-size: 12px;
  background-color: rgb(241, 6, 6);
}

.rodape li a:hover {
  background-color: rgb(90, 1, 1);
}

/* celular*/

@media (min-width: 320px) {
  .logo {
    padding: 20px 0;
  }

  .banner img {
    width: 100%;
    margin: 10px 0px;
  }

  .menu ul {
    text-align: center;
  }

  .menu li a {
    font-size: 15px;
    padding: 10px 0;
    margin: 5px;
  }

  .amplia-img {
    bottom: 370px;
    width: 100%;
    font-size: 12px;
    line-height: 2em;
    position: absolute;
  }

  .tag {
    width: 60px;
    right: 10px;
    position: absolute;
  }

  h2 {
    padding: 10px 10px;
  }

  p {
    font-size: 17px;
    text-align: left;
    word-spacing: 2px;
    line-height: 1.5em;
    padding: 10px;
  }

  button {
    margin: 15px 10px;
    padding: 10px 20px;
    font-size: 16px;
  }

  .rodape li a {
    background-color: rgb(241, 6, 6);
    font-size: 15px;
    padding: 10px 0;
    margin: 5px;
  }
}

/*tablet*/
@media (min-width: 768px) {
  .menu ul {
    display: flex;
    justify-content: center;
  }

  .menu li a {
    margin: 12px;
    padding: 8px 31px;
  }

  .banner {
    padding: 0 24px;
  }

  .pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .box {
    padding: 10px;
    width: 475px;
  }

  .amplia-img {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 375px;
    font-size: 14px;
    line-height: 3em;
    word-spacing: 5px;
    width: 455px;
  }

  .tag {
    width: 80px;
    right: 20px;
    position: absolute;
  }

  p {
    font-size: 18px;
  }

  .rodape li a {
    padding: 10px 0;
    margin: 5px;
  }
}

@media (min-width: 1200px) {
  .menu li a {
    font-size: 15px;
    padding: 10px 50px;
    margin: 12px;
  }

  .banner img {
    width: 1184px;
    margin-bottom: 30px;
  }
  .pictures {
    margin: 0 60px;
  }

  .box {
    width: 384px;
  }

  .amplia-img {
    bottom: 408px;
    width: 362px;
    font-size: 12px;
    line-height: 1.5em;
    padding: 8px;
  }

  .tag {
    width: 60px;
    right: 20px;
    position: absolute;
    bottom: auto;
  }

  button {
    margin: 30px 0;
    padding: 10px 15px;
  }

  .rodape ul {
    background-color: rgb(241, 6, 6);
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    padding: 30px 0 60px 0;
    margin: 0 75px;
    color: white;
    text-align: center;
  }

  .rodape li a {
    border-left: 2px solid #ffffff;
    padding: 0 10px;
    margin: 30px 0 15px 0;
    color: white;
    font-size: 12px;
  }
}
